.category-box {
  width: 30%;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  margin: 0 7.8px 15px;
  overflow: hidden;
  cursor: pointer;
  border-bottom: solid 1px black;
  margin-bottom: 25px;
  background-color: white;
}
.category-box:hover {
  transition: 380ms transform;
  transform: scale(1.05);
}
.category-img {
  height: 100%;
  width: 100%;
  background-position: fixed;
  background-size: 100% 100%;
  border-radius: 3px;
  background-color: white;
}
.content {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 18px;
  text-align: center;
  padding: 3px;
  background-color: white;
}
.title {
  font-size: 15px;
  display: flex;
  justify-content: center;
  background-color: white;
  border: none;
  text-align: center;
}
.content > a {
  text-decoration: none;
  color: black;
}
