.category-side {
  width: 23%;
  float: left;
  position: absolute;
  border-right: black solid 1px;
  margin-top: 75px;
  padding: 0px 10px 0px 0px;
}
.collection-side {
  width: 77%;
  float: right;
  position: relative;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.collection-side:after {
  content: "";
  display: table;
  clear: both;
}
.cat-side-title {
  margin-left: 10px;
  padding-left: 20px;
}
