.collection-item {
  margin: 5px;
  padding: 1px;
  height: 399px;
  border: none;
  width: 340px;
}
.collection-item * {
  background-color: white;
}
.card-img {
  width: 335px;
  height: 320px;
}
.card-body {
  background-color: white;
}

/*
img {
  height: 100%;
  width: 100%;
  background-position: fixed;
  background-size: 100% 100%;
  border-radius: 3px;
}
*/
.name {
  background-color: white;
  float: left;
  display: block;
}

.price {
  background-color: white;
}
